---
import Tag from '../pages/tags/[tag].astro';
import BaseLayout from './BaseLayout.astro';
import '../styles/global.css';
const { title, pubDate, author, image } = Astro.props.frontmatter;
const date = new Date(pubDate);  // Convert pubDate to a Date object
const { frontmatter } = Astro.props;
// Manually formatting the date as YYYY-MM-DD
const year = date.getFullYear();
const month = String(date.getMonth() + 1).padStart(2, '0');  // Adding leading zero if needed
const day = String(date.getDate()).padStart(2, '0');  // Adding leading zero if needed
const formattedDate = `${year}-${month}-${day}`;
---

<BaseLayout pageTitle={title}>
  <div class="post-header">
    <p>Published on: {formattedDate}</p>
    <p>Written by: {author}</p>
    <img src={image.url} width="300" alt={image.alt} />
  </div>

  <div class="tags">
    {frontmatter.tags.map((tag: string) => (
      <p class="tag">
        <a href={`/tags/${tag}`} class="tag-link">{tag}</a>
      </p>
    ))}
  </div>

  <slot />
</BaseLayout>

<style>
  a {
    color: #00539F;
    text-decoration: none; /* Remove default link styling */
  }

  .post-header {
    margin-bottom: 2rem;
    text-align: center;
  }

  .post-header img {
    border-radius: 10px;
    margin-top: 1rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
  }

  .tag {
    margin: 0.5em;
  }

  .tag-link {
    display: inline-block;
    padding: 0.5em 1.5em; 
    font-size: 1.15em;
    background-color: #F1F5F9; /* Soft light background */
    color: #007BFF; /* Matching text color */
    border: 2px solid #007BFF; /* Blue border for emphasis */
    border-radius: 1.5em; /* Rounded appearance */
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s; /* Smooth hover effects */
    text-decoration: none; /* Remove underline */
    cursor: pointer;
  }

  .tag-link:hover {
    background-color: #007BFF; /* Change to blue background on hover */
    color: white; /* Text turns white on hover */
  }

  .tag-link:focus, .tag-link:active {
    background-color: #00539F; /* Darker blue when focused/active */
    color: white; /* Text turns white when focused/active */
    outline: none; /* Remove default focus outline */
  }
</style>
